/*------------------------------------

            Page.html

------------------------------------*/

/*    local_01
----------------------------------*/
#local_01 {
    padding: 4rem 0;
    .title_h2 {
        padding-top: 3rem;
    }
    .items {
        float: left;
        width: 50%;
    }
    .avatar {
        text-align: right;
        padding-right: 7rem;
    }
    .imgAvatar {
        position: relative;
        float: right;
        width: 209px;
        height: 475px;
        @extend %clearfix;
    }
    .note {
        background: #6e6e6e;
    }
    .listDot {
        li {
            opacity: 0.8;
            position: absolute;
            &:nth-child(1) {
                top: 5.8rem;
                left: 0;
            }
            &:nth-child(2) {
                top: 5.8rem;
                right: 1rem;
            }
            &:nth-child(3) {
                bottom: 70px;
                left: 0;
            }
            &:nth-child(4) {
                bottom: 70px;
                right: 1rem;
            }
        }
        &.active {
            animation-delay: 1s!important;
            animation: fadeinout 1.8s linear infinite;
        }
    }
}

/*    local_02
----------------------------------*/
#local_02 {
    padding-bottom: 5rem;
    .items {
        float: left;
        width: 50%;
    }
    .row_01 {
        .description {
            padding-top: 7.3rem;
            padding-right: 7%;
        }
        .avatar {
            position: relative;
            left: -2rem;
        }
        .detailZoom {
            li {
                position: absolute;
                &:first-child {
                    top: 65px;
                    left: -30px;
                }
                &:last-child {
                    top: -30px;
                    right: -42px;
                }
            }
        }
    }
    .row_02 {
        padding-top: 4.5rem;
        .avatar {
            padding-top: 0.8rem;
        }
    }
    .row_03 {
        padding-top: 4.5rem;
        .avatar {
            padding-top: 0.8rem;
        }
    }
}

/*    local_03
----------------------------------*/
#local_03 {
    padding: 3.5rem 0 10rem;
    .title_h2 {
        text-align: center;
    }
    .listItemsThumb {
        padding-top: 3.5rem;
        position: relative;
    }
    .listItems {
        display: flex;
        align-items: flex-start;
        &.details {
            top: 3.5rem;
            position: absolute;
            .items {
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        transition-delay: 800ms * $i;
                    }
                }
                z-index: 9;
            }
        }
    }
    .description {
        padding-top: 3.2rem;
        max-width: 51.5rem;
        width: 100%;
        margin: auto;
    }
    .note {
        text-align: center;
        padding-top: 2.2rem;
        color: $color-primary;
    }
}
